@model PagedList.IPagedList<Smart_Heating.Models.Users_List_View>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "AdminViewUsers";
}

<h2>Список користувачів</h2>

@using (Html.BeginForm())
{
    <p>
        Знайти за параметрами "ID/прізвище/ім'я/по-батькові", "Дата народження", "Район", "Вулиця", "Назва закладу": @Html.TextBox("search_str", ViewBag.CurrentFilter as string)
        <input type="submit" value="Пошук" />
    </p>
}

<table class="table table-warning table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.ActionLink("ID", "AdminViewUsers", new { sort_order = ViewBag.IDSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Логін", "AdminViewUsers", new { sort_order = ViewBag.LoginSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Роль у системі", "AdminViewUsers", new { sort_order = ViewBag.RoleSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Прізвище", "AdminViewUsers", new { sort_order = ViewBag.SurnameSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Ім'я", "AdminViewUsers", new { sort_order = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                По-батькові
            </th>
            <th scope="col">
                @Html.ActionLink("Стать", "AdminViewUsers", new { sort_order = ViewBag.GenderSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Дата народження", "AdminViewUsers", new { sort_order = ViewBag.BirthdateSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                Н-р телефону
            </th>
            <th scope="col">
                Резервний н-р
            </th>
            <th scope="col">
                @Html.ActionLink("ID адреси", "AdminViewUsers", new { sort_order = ViewBag.AddressIDSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Район", "AdminViewUsers", new { sort_order = ViewBag.DistrictSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Вулиця", "AdminViewUsers", new { sort_order = ViewBag.StreetSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                № Будинку
            </th>
            <th scope="col">
                № Квартири
            </th>
            <th scope="col">
                № Офісу
            </th>
            <th scope="col">
                @Html.ActionLink("Тип будинку", "AdminViewUsers", new { sort_order = ViewBag.BuildingSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col">
                @Html.ActionLink("Назва закладу", "AdminViewUsers", new { sort_order = ViewBag.EstablishmentSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Користувача)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Логін)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Роль_у_системі)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Прізвище)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ім_я)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.По_Батькові)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Стать)
                </td>
                <td>
                    @{ int year = item.Дата_народження.Year; int month = item.Дата_народження.Month; int day = item.Дата_народження.Day; string text = string.Format("{0}-{1}-{2}", year, month, day);}
                    @text
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Н_р_телефону)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Резервний_н_р_телефону)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_адреси)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Район)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Назва_вулиці)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C__Будинку)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C__Квартири)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C__Офісу)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Тип_будинку)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Назва_закладу)
                </td>
                <td>
                    <form action="AdminDeleteUser" method="post">
                        <a href="@Url.Action("AdminDeleteUser", "Admin", new { UserID = item.ID_Користувача })" class="btn btn-danger ">Видалити</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div style="margin-left: 11px">
    <br />
    Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AdminViewUsers",
        new { page, sort_order = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<div>
    <a type="button" href="@Url.Action("AdminAddNewUser", "Admin")" class="btn btn-success" style="margin-top:12px; margin-left: 11px">Додати новий запис</a>
</div>

<div>
    <a type="button" href="@Url.Action("AdminDashBoard", "Admin")" class="btn btn-light" style="margin-top:12px; margin-left: 11px">Повернутись</a>
</div>