@model Smart_Heating.Models.Maintenance

@{
    ViewBag.Title = "ChangeMaintInfo";
}

<h2>ChangeMaintInfo</h2>

<h4>Редагувати інформацію про тех.роботу</h4>
<hr />


@using (Html.BeginForm("ChangeMaintInfo", "Staff", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(modelItem => modelItem.MaintID)
    <table class="table table-warning table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Тип роботи</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата початку роботи</th>
                <th scope="col">Дата закінчення роботи</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaintType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaintType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaintType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaintStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaintStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaintStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaintStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaintStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaintStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaintEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaintEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaintEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Зберегти зміни" class="btn btn-success" style=" margin-top: 12px" />
}

<div>
    <a type="button" href="@Url.Action("StaffViewMaintenance", "Staff")" class="btn btn-light" style="margin-top:12px">Повернутись</a>
</div>
